@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::-moz-focus-inner {
  border: none; }

a:link,
a:visited {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  color: inherit;
  background: none; }

svg {
  height: calc(var(--icon-size) / 3);
  width: calc(var(--icon-size) / 3); }

html {
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  --primary-color: #e91e63;
  --opacity: 1;
  --white: #efefef;
  --black: #444444;
  --icon-size: 6rem;
  background-color: var(--primary-color);
  color: var(--primary-color);
  min-height: 100vh;
  width: 100%;
  font-size: 1.6rem;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  transition: background-color 1s ease-out, color 1s ease-out;
  display: flex;
  justify-content: center;
  align-items: center; }

.quote-box {
  background-color: var(--white);
  width: 50vw;
  border-radius: 3px;
  position: relative;
  margin: 5rem 0;
  box-shadow: 1rem 2.5rem 10rem rgba(0, 0, 0, 0.25); }
  .quote-box__header-icon {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    height: var(--icon-size);
    width: var(--icon-size);
    background-color: var(--black);
    transform: translate(-50%, -50%);
    border-radius: 3px;
    line-height: var(--icon-size); }
  .quote-box__text {
    font-family: 'Crete Round', serif;
    font-size: 3.6rem;
    margin: 5rem 5rem 0;
    opacity: var(--opacity);
    transition: opacity .5s ease-out; }
  .quote-box__author {
    color: var(--black);
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 1px;
    margin: 2rem 5rem 9rem;
    opacity: var(--opacity);
    transition: opacity .5s ease-out .1s; }
    .quote-box__author::before {
      content: '—';
      color: var(--primary-color);
      font-weight: bold;
      font-style: normal;
      margin-right: .5rem;
      transition: color 1s ease-out; }
  .quote-box__footer {
    position: absolute;
    bottom: 0;
    height: var(--icon-size);
    width: 100%;
    background-color: var(--black);
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    display: flex; }
    .quote-box__footer-icon {
      display: block;
      color: var(--white) !important;
      font-size: calc(var(--icon-size) / 3);
      line-height: var(--icon-size);
      width: var(--icon-size);
      transition: background-color .15s ease-out;
      cursor: pointer; }
      .quote-box__footer-icon:hover {
        background-color: var(--primary-color); }
      .quote-box__footer-icon:focus {
        outline: none; }
      .quote-box__footer-icon:first-child {
        margin-right: auto; }
      .quote-box__footer-icon--disabled {
        opacity: .3;
        cursor: default; }
        .quote-box__footer-icon--disabled:hover, .quote-box__footer-icon--disabled:focus {
          background-color: inherit; }

.info__toggle {
  display: none; }

.info__btn {
  position: fixed;
  bottom: 0;
  right: 0;
  height: var(--icon-size);
  width: var(--icon-size);
  line-height: var(--icon-size);
  color: var(--white);
  background-color: var(--black);
  border-radius: 3px 0 0 0;
  transition: all .15s ease-out;
  z-index: 10;
  cursor: pointer; }
  .info__btn:hover, .info__btn:focus {
    background-color: var(--primary-color);
    box-shadow: 1rem 2.5rem 10rem rgba(0, 0, 0, 0.5); }
  .info__btn .close,
  .info__btn .open {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .3s ease-out; }
  .info__btn .close {
    opacity: 0; }

.info__toggle:checked ~ .info__modal {
  opacity: 1;
  transform: scale(1, 1); }
  .info__toggle:checked ~ .info__modal .info__wrapper > div {
    opacity: 1;
    transform: translateY(0); }

.info__toggle:checked ~ .info__btn {
  background-color: var(--primary-color);
  border-radius: 10rem;
  bottom: 2rem;
  right: 1rem; }
  .info__toggle:checked ~ .info__btn .close {
    opacity: 1; }
  .info__toggle:checked ~ .info__btn .open {
    opacity: 0; }

.info__modal {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform: scale(0.5, 0.01);
  background-color: rgba(0, 0, 0, 0.8);
  transition: all .3s ease-out;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.info__wrapper {
  background-color: var(--white);
  padding: 4rem;
  width: 70vw;
  max-height: 80vh;
  border-radius: 3px;
  overflow: auto;
  display: flex; }
  .info__wrapper > div {
    padding: 2rem 4rem;
    opacity: 0;
    transform: translateY(2rem); }

.info__about {
  flex-basis: 60%;
  transition: all .5s ease-out .4s; }

.info__title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left; }
  .info__title::after {
    content: '';
    background-color: var(--black);
    display: block;
    height: .5rem;
    width: 20%;
    margin-top: 1rem;
    border-radius: 3px; }

.info__text {
  font-family: 'Crete Round', serif;
  text-align: justify;
  color: var(--black);
  font-size: 1.8rem;
  line-height: 1.5; }
  .info__text:not(:last-child) {
    margin-bottom: 1rem; }
  .info__text a:link,
  .info__text a:visited {
    color: var(--primary-color); }
    .info__text a:link:hover,
    .info__text a:visited:hover {
      text-decoration: underline; }

.info__follow {
  flex-basis: 40%;
  background-color: var(--primary-color);
  border-radius: 3px;
  transition: all .5s ease-out .5s; }
  .info__follow .info__title {
    color: var(--white); }

.info__social {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 3rem;
  color: var(--white); }
  .info__social > li {
    display: block;
    width: calc(var(--icon-size) / 3);
    height: calc(var(--icon-size) / 3);
    font-size: calc(var(--icon-size) / 3);
    transition: transform .2s ease-out; }
    .info__social > li:not(:last-child) {
      margin-right: 1.5rem; }
    .info__social > li:hover {
      border-bottom: 2px solid var(--black);
      height: calc(var(--icon-size) / 2);
      transform: translateY(-3px); }
    .info__social > li > a > i {
      width: 100%;
      height: 100%; }

@media screen and (min-width: 1600px) {
  .quote-box {
    width: 40vw; }
  .info__wrapper {
    width: 60vw; } }

@media screen and (max-width: 1024px) {
  html {
    font-size: 50%; }
  .quote-box {
    width: 65vw; } }

@media screen and (max-width: 800px) {
  body {
    --icon-size: 8rem; }
  .quote-box {
    width: 80vw; }
    .quote-box__text {
      margin: 6rem 3rem 3rem;
      line-height: 1.4; }
    .quote-box__author {
      margin: 3rem 2rem 13rem;
      text-align: right; }
    .quote-box__footer-icon:hover, .quote-box__footer-icon:focus {
      background-color: inherit; }
    .quote-box__footer-icon:active {
      background-color: var(--primary-color); }
    .quote-box__footer-icon--disabled:active {
      background-color: inherit; }
  .info__wrapper {
    flex-direction: column; }
    .info__wrapper > div {
      padding: 4rem; }
  .info__title {
    text-align: center; }
    .info__title::after {
      margin: 2rem auto; }
  .info__social {
    justify-content: space-around;
    width: 80%;
    margin: 3rem auto 1rem; } }

@media screen and (max-width: 414px) {
  html {
    font-size: 45%; }
  .info__wrapper {
    width: 90vw;
    padding: 2rem; }
    .info__wrapper > div {
      padding: 4rem 2rem; } }
