*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::-moz-focus-inner {
    border: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    color: inherit;
    background: none;
}

html {
    min-height: 100vh;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    --primary-color: #e91e63;
    --opacity: 1;
    --white: #efefef;
    --black: #444444;
    --icon-size: 6rem;

    background-color: var(--primary-color);
    color: var(--primary-color);
    min-height: 100vh;
    width: 100%;
    font-size: 1.6rem;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    transition: background-color 1s ease-out, color 1s ease-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box {
    background-color: var(--white);
    width: 50vw;
    border-radius: 3px;
    position: relative;
    margin: 5rem 0;
    box-shadow: 1rem 2.5rem 10rem rgba(0, 0, 0, .25);
    
    &__header-icon {
        position: absolute;
        display: block;
        top: 0;
        left: 50%;
        height: var(--icon-size);
        width: var(--icon-size);
        background-color: var(--black);
        transform: translate(-50%, -50%);
        border-radius: 3px;
        line-height: var(--icon-size);
        font-size: calc(var(--icon-size) / 3);
    }
    
    &__text {
        font-family: 'Crete Round', serif;
        font-size: 3.6rem;
        margin: 5rem 5rem 0;
        opacity: var(--opacity);
        transition: opacity .5s ease-out;
    }

    &__author {
        color: var(--black);
        font-weight: 400;
        font-style: italic;
        text-transform: uppercase;
        font-size: 1.8rem;
        letter-spacing: 1px;
        margin: 2rem 5rem 9rem;
        opacity: var(--opacity);
        transition: opacity .5s ease-out .1s;

        &::before {
            content: '—';
            color: var(--primary-color);
            font-weight: bold;
            font-style: normal;
            margin-right: .5rem;
            transition: color 1s ease-out;
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        height: var(--icon-size);
        width: 100%;
        background-color: var(--black);
        border-radius: 0 0 3px 3px;
        overflow: hidden;

        display: flex;

        &-icon {
            display: block;
            color: var(--white);
            font-size: calc(var(--icon-size) / 3);
            line-height: var(--icon-size);
            width: var(--icon-size);
            transition: background-color .15s ease-out;
            cursor: pointer;
            
            &:hover {
                background-color: var(--primary-color);
            }
            
            &:focus {
                outline: none;
            }
            
            &:first-child {
                margin-right: auto;
            }

            &--disabled {
                opacity: .3;
                cursor: default;

                &:hover,
                &:focus {
                    background-color: inherit;
                }
            }
        }
    }
}

.info {
    
    &__toggle {
        display: none;
    }
    
    &__btn {
        position: absolute;
        bottom: 0;
        right: 0;
        height: var(--icon-size);
        width: var(--icon-size);
        line-height: var(--icon-size);
        font-size: calc(var(--icon-size) / 3);
        color: var(--white);
        background-color: var(--black);
        border-radius: 3px 0 0 0;
        transition: all .15s ease-out;
        z-index: 10;
        cursor: pointer;
        
        &:hover,
        &:focus {
            background-color: var(--primary-color);
            box-shadow: 1rem 2.5rem 10rem rgba(0, 0, 0, .5);
        }

        & .close,
        & .open {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: opacity .3s ease-out;
        }

        & .close {
            opacity: 0;
        }
    }
    
    &__toggle:checked ~ &__modal {
        opacity: 1;
        width: 100%;
        height: 100vh;
    }
    
    &__toggle:checked ~ &__btn {

        background-color: var(--primary-color);

        & .close {
            opacity: 1;
        }

        & .open {
            opacity: 0;
        }
    }
    
    &__modal {
        opacity: 0;
        position: fixed;
        width: 0;
        height: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .8);
        transition: all .5s ease-out;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    // &__modal { // temporary
    //     opacity: 1;
    //     width: 100%;
    //     height: 100vh;
    // }

    &__wrapper {
        background-color: var(--white);
        padding: 4rem;
        width: 70vw;
        max-height: 80vh;
        border-radius: 3px;
        overflow: auto;

        display: flex;

        & > div {
            padding: 2rem 4rem;
        }
    }

    &__about {
        flex-basis: 60%;
    }
    
    
    &__title {
        font-size: 2.4rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: left;
        
        &::after {
            content: '';
            background-color: var(--black);
            display: block;
            height: .5rem;
            width: 20%;
            margin-top: 1rem;
            border-radius: 3px;
        }
    }

    &__text {
        font-family: 'Crete Round', serif;
        text-align: justify;
        color: var(--black);
        font-size: 1.8rem;
        line-height: 1.5;
        
        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        & a:link,
        & a:visited {
            color: var(--primary-color);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__follow {
        flex-basis: 40%;
        background-color: var(--primary-color);
        

        & .info__title {
            color: var(--white);
        }
    }

    &__social {
        display: flex;
        list-style: none;
        justify-content: center;
        margin-top: 3rem;
        color: var(--white);

        & > li {
            display: block;
            width: calc(var(--icon-size) / 3);
            height: calc(var(--icon-size) / 3);
            font-size: calc(var(--icon-size) / 3);
            transition: transform .2s ease-out;

            &:not(:last-child) {
                margin-right: 1.5rem;
            }

            &:hover {
                border-bottom: 2px solid var(--black);
                height: calc(var(--icon-size) / 2);
                transform: translateY(-3px);
            }

            & > a > i {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// MEDIA QUERIES ===========================================================

@media screen and (min-width: 1600px) {
    .quote-box {
        width: 40vw;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 50%;
    }
    .quote-box {
        width: 65vw;
    }
}

@media screen and (max-width: 800px) {
    body {
        --icon-size: 8rem;
    }
    
    .quote-box {
        width: 80vw;

        &__text {
            margin: 6rem 3rem 3rem;
            line-height: 1.4;
        }
    
        &__author {
            margin: 3rem 2rem 13rem;
            text-align: right;
        }

        &__footer-icon {
            &:hover,
            &:focus {
                background-color: inherit;
            }
            
            &:active {
                background-color: var(--primary-color);

            }

            &--disabled:active {
                background-color: inherit;
            }
        }
    }
}

@media screen and (max-width: 414px) {
    html {
        font-size: 45%;
    }
}